.items {
    list-style-type: none;
    display: flex;
    margin: 0 1rem;
    white-space: nowrap;
    overflow-x: scroll;
}
.item {
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin: 1rem;
    font-family: 'Inter', sans-serif;
}
@media only screen and (min-width: 768px) {
    .items {
        flex-wrap: wrap;
        overflow-x: hidden;
        justify-content: center;
        }
    .mein-section {
        display: flex;
        margin: 0 auto;
    }
}